<app-pop-up [description]="'User Information'" [id]="'user'" (close)="closeBtn($event)" [(closed)]="modalClose"
    [launchBtn]="launchBtn" [modalHeader]="modalHeader" [modalBody]="modalBody" [modalFooter]="modalFooter">
    <ng-template #launchBtn>
        Add User Info
    </ng-template>
    <ng-template #modalHeader>
        Add User
    </ng-template>
    <ng-template #modalBody>
        <form>
            <input type="text" [(ngModel)]="username" name="username" placeholder="Enter username">
            <input type="email" [(ngModel)]="email" name="email" placeholder="Enter email">
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
    </ng-template>
</app-pop-up>