<dm-stepper-v1 [(stepperMetaData)]="stepperMetaData" [activeStep]="activeStep()">
    <ng-template templateMetaData="step1">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                [formControl]="email">
            @if(email.hasError('required') && email.dirty)
            {
            <span>email is required</span>
            }
        </div>
    </ng-template>
    <ng-template templateMetaData="step2">
        Step 2
    </ng-template>
    <ng-template templateMetaData="step3">
        Step 3
    </ng-template>
</dm-stepper-v1>