<dm-table-v2 [metaData]="tableMetaData" [data]="tableService.paginatedSortedData()" [(sort)]="tableService.sort"
    [tableMargin]="'50px'">
    <ng-template templateMetaData="serialNumber" let-rowData="rowData">
        {{ rowData.serialNumber}}
    </ng-template>
    <ng-template templateMetaData="firstName" let-rowData="rowData">
        {{ rowData.firstName === 'Devaangini' ? 'Good' : 'Bad' }}
    </ng-template>
</dm-table-v2>

<dm-pagination-v2 [totalRecords]="tableService.tableData().length" [recordsPerPage]="tableService.recordsPerPage()"
    [(page)]="tableService.activePage" (selectedCount)="readDataPerPage($event)" />