<app-pop-up [description]="'User Information'" [id]="'user'" (close)="closeBtn($event)" [(closed)]="modalClose">
    <ng-container ngProjectAs="[slot='launchbtn']">
        Add User Info
    </ng-container>
    <ng-container ngProjectAs="[slot='header']">
        Add User
    </ng-container>
    <ng-container ngProjectAs="[slot='body']">
        <form>
            <input type="text" [(ngModel)]="username" name="username" placeholder="Enter username">
            <input type="email" [(ngModel)]="email" name="email" placeholder="Enter email">
        </form>
    </ng-container>

    <ng-container ngProjectAs="[slot='footer']">
        <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
    </ng-container>
</app-pop-up>