<app-table-v2 [metaData]="tableMetaData" [data]="tableData" [(sort)]="sort" [tableMargin]="'50px'">
    <ng-template templateMetaData="serialNumber" let-rowData="rowData">
        {{ rowData.serialNumber % 2 === 0 ? 'Even' : 'Odd' }}
    </ng-template>
    <ng-template templateMetaData="firstName" let-rowData="rowData">
        {{ rowData.firstName === 'Devaangini' ? 'Good' : 'Bad' }}
    </ng-template>
    <app-column [column]="'lastName'">
        <ng-template let-rowData="rowData">
            {{ rowData.lastName === 'Mehta' ? 'Developer' : 'QA' }}
        </ng-template>
    </app-column>
    <app-column [column]="'userHandle'">
        <ng-template let-rowData="rowData">
            {{ rowData.userHandle === '@mdevaangini' ? 'Git' : 'Github' }}
        </ng-template>
    </app-column>
</app-table-v2>