<form [formGroup]="mainForm" class="form">
    <div formArrayName="formArray">
        <button type="button" (click)="addOuter()">Add Outer</button>

        @for (outer of formArray.controls; track $index; let i = $index; let last = $last) {
        <div class="outer-wrapper">
            <div [formGroupName]="i" class="outer">
                <button type="button" class="remove-outer" (click)="removeOuter(i)">X</button>

                <div formArrayName="grp">
                    <button type="button" (click)="addInner(i)">Add Inner</button>

                    @for (inner of getInnerArray(i).controls; track $index; let j = $index; let last = $last) {
                    <div class="inner-wrapper">
                        <div [formGroupName]="j" class="inner">
                            <input type="text" formControlName="name" />
                            <button type="button" (click)="removeInner(i, j)">X</button>
                        </div>

                        @if (!last) {
                        <div class="connector">OR</div>
                        }
                    </div>
                    }
                </div>
            </div>

            @if (!last) {
            <div class="connector">AND</div>
            }
        </div>
        }
    </div>
</form>