<app-pop-up [description]="'Model Information'" [id]="'model'" (close)="closeBtn($event)" [launchBtn]="launchBtn"
    [modalHeader]="modalHeader" [modalBody]="modalBody" [modalFooter]="modalFooter">
    <ng-template #launchBtn>
        Launch model
    </ng-template>
    <ng-template #modalHeader>
        Model Title
    </ng-template>
    <ng-template #modalBody>
        <p>
            Model Body
        </p>
    </ng-template>
    <ng-template #modalFooter>
    </ng-template>
</app-pop-up>

<hr>


<app-user />