<!-- <button class="pagination-count" (click)="previous()" [disabled]="activeCount() <= 1">&lt;</button>
@for(count of totalCounts(); track count){
@let isActive = count === activeCount();
<button class="pagination-count" [class.active]="isActive" (click)="onPageClick(count)">{{count}}</button>
}


<button class="pagination-count" (click)="next()" [disabled]="activeCount() >= totalCounts().length">&gt;</button> -->


<!-- Above functionality Using bootstrap-->

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="activeCount() <= 1">
            <a class="page-link" href="#" (click)="previous()">Previous</a>
        </li>
        @for(count of totalCounts(); track count){
        @let isActive = count === activeCount();
        <li class="page-item"><a class="page-link" href="#" [class.active]="isActive"
                (click)="onPageClick(count)">{{count}}</a></li>
        }
        <li class="page-item" [class.disabled]="activeCount() >= totalCounts().length">
            <a class="page-link" href="#" (click)="next()">Next</a>
        </li>
    </ul>
</nav>