<div [style.margin]="tableMargin()">
    <table class="table table-bordered">

        <thead>
            <tr>
                @for(col of metaData();track col){
                <th scope="col">{{col.header}}
                    @if(col.sortable){
                    <i class="bi bi-sort-up" (click)="onClick(col,'asc')"></i>
                    <i class="bi bi-sort-down" (click)="onClick(col,'desc')"></i>
                    }
                </th>

                }
            </tr>

        </thead>

        <tbody class="table-group-divider">
            @for(row of data();track row.serialNumber){
            <tr>
                @for(col of metaData();track col){

                <td>
                    @if(templateHashMap()[col.field]) {
                    <ng-container *ngTemplateOutlet="templateHashMap()[col.field]; context: { rowData: row }">
                    </ng-container>
                    }
                    @else {
                    {{ row[col.field] }}
                    }
                </td>


                }
            </tr>
            }
        </tbody>

    </table>
</div>

<!-- Here’s what Angular did:

 <ng-container *ngTemplateOutlet="findTemplate(col.field)?.template!" ; context:{rowData:row}></ng-container>

@if → wrapped your block in a hidden <ng-template>.
*ngTemplateOutlet → also tried to wrap <ng-container> in its own hidden <ng-template>.

Result: nested templates that didn’t render the way you expected. -->