<div class="stepper-container">
    <div class="stepper">
        @for (step of stepperMetaData(); track step.serialNumber; let i = $index) {
        <div class="step" [class.active]="step.key === currentStep()">
            <div class="circle">{{ i + 1 }}</div>
            <div class="label" (click)="onClick(step)">{{ step.heading }}</div>

            @if(i < stepperMetaData().length - 1) { <div class="line" [class.active]="step.visited">
        </div>
        }

    </div>
    }
</div>

<div class="stepper-content">
    <ng-container *ngTemplateOutlet="stepTemplate()"></ng-container>
</div>

<div class="step-controls">
    <button (click)="prev()" [disabled]="currentStep() === stepperMetaData()[0].key">Previous</button>
    <button (click)="next()"
        [disabled]="currentStep() === stepperMetaData()[stepperMetaData().length - 1].key">Next</button>
</div>

</div>