<div [style.margin]="tableMargin()">
    <table class="table table-bordered">

        <thead>
            <tr>
                @for(col of metaData();track col){
                <th scope="col">{{col.header}}
                    @if(col.sortable){
                    <i class="bi bi-sort-up" (click)="ascending(col)"></i>
                    <i class="bi bi-sort-down" (click)="descending(col)"></i>
                    }
                </th>

                }
            </tr>

        </thead>

        <tbody class="table-group-divider">
            @for(row of intialData();track row){
            <tr>
                @for(col of metaData();track col){
                <td>{{row[col.field]}}</td>
                }
            </tr>
            }
        </tbody>

    </table>
</div>