<h2>{{description()}}</h2>

<div class="m-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#' + id()">
        <ng-content select="[slot='launchbtn']" />
    </button>

    <div class="modal fade" [id]="id()" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        <ng-content select="[slot='header']" />
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ng-content select="[slot='body']">
                        No Content..
                    </ng-content>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="closeModal()">Close</button>
                    <ng-content select="[slot='footer']" />
                </div>
            </div>
        </div>
    </div>

</div>