<app-pop-up [description]="'Model Information'" [id]="'model'">
  <ng-container ngProjectAs="[slot='launchbtn']">
    Launch model
  </ng-container>
  <ng-container ngProjectAs="[slot='header']">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Model Title</h1>
  </ng-container>
  <ng-container ngProjectAs="[slot='body']">
    <p>
      Model Body
    </p>
  </ng-container>
  <ng-container ngProjectAs="[slot='footer']">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </ng-container>
</app-pop-up>

<hr>


<app-user />